.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: -850px;
}

img {
  max-width: 300px;
}

h1 {
  font-family: Arial, serif;
  font-size: 24px;
  color: #289CD7;
}

p {
  font-family: Arial, serif;
  font-size: 18px;
  color: #289CD7;
  margin-top: -9px;
}

.button {
  font-family: Arial, serif;
  background-color: #289CD7;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -9px;
}

